DEFINE QLOCAL('L.{{QUEUE_NAME}}.BO') +
DEFPSIST(YES) +
DESCR('Backout queue for failed transactions') +
REPLACE

DEFINE QALIAS('A.{{QUEUE_NAME}}.BO') +
TARGET('L.{{QUEUE_NAME}}.BO') +
TARGTYPE(QUEUE) +
DEFPSIST(YES) +
DESCR('Backout queue alias for failed transactions') +
REPLACE

DEFINE QLOCAL ('L.{{QUEUE_NAME}}') +
BOQNAME('A.{{QUEUE_NAME}}.BO') +
BOTHRESH(3) +
DEFPSIST(YES) +
DESCR('Queue Local Generated') +
REPLACE

DEFINE QALIAS('{{QUEUE_NAME}}') +
TARGET( L.{{QUEUE_NAME}}) +
TARGTYPE(QUEUE) +
DEFPSIST(YES) +
REPLACE
